<%= form_for record do |f| %>
  <% if record.errors.any? %>
    <div class="<%= css_classes.alert_danger_class %>" role="alert">
      <h4><%= pluralize(record.errors.count, "error") %> prohibited this record from being saved:</h4>

      <ul>
        <% record.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  <% end %>

  <% record.class.editable_attributes.each do |attr| %>
    <div class="<%= css_classes.form_group_class %>">
      <label class="<%= css_classes.form_label_class %>"><%= model_attr_label(record, attr) %></label>
      <div class="<%= css_classes.form_control_wrapper_class %>">
        <%= crud_edit_attr f, attr %>
        <% note = input_note_for(record, attr) %>
        <% if note || record.respond_to?(attr.to_s + "_input_notes") %>
          <div class="<%= css_classes.form_text_class %>"><%= note || record.send(attr.to_s + "_input_notes") %></div>
        <% end %>
      </div>
    </div>
  <% end %>
          
  <div class="<%= css_classes.form_group_class %>">
    <div class="<%= css_classes.form_control_wrapper_class %> <%= css_classes.offset_sm_2_class %>">
      <% if record.new_record? %>
        <%= f.submit 'Create', class: css_classes.btn_primary_class %>
      <% else %>
        <%= f.submit 'Save', class: css_classes.btn_primary_class %>
      <% end %>
    </div>
  </div>
<% end %>