
= form_for record, html: { class: "form-horizontal", role: "form" } do |f|
  -if record.errors.any?
    .alert.alert-danger.alert-dismissable{role: "alert"}
      %button.close{type: "button", data: {dismiss: "alert"} }
        %span{aria: {hidden: "true"} } &times;
        %span.sr-only Close
      %h4= "#{pluralize(record.errors.count, "error")} prohibited this record from being saved:"

      %ul
        - record.errors.full_messages.each do |msg|
          %li= msg

  - record.class.editable_attributes.each do |attr|
    .form-group
      %label{class: 'col-sm-2 control-label'}= model_attr_label(record, attr)
      .col-sm-10
        = crud_edit_attr f, attr
        - note = input_note_for(record, attr)
        - if note || record.respond_to?(attr.to_s + "_input_notes")
          .help-block= note || record.send(attr.to_s + "_input_notes")
          
  .form-group
    .col-sm-2
      &nbsp;
    .col-sm-10          
      - if record.new_record?
        = f.submit 'Create', class: 'btn btn-success'
      - else 
        = f.submit 'Save', class: 'btn btn-success'
