<%= form_for record do |f| %>
  <% if record.errors.any? %>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <h4><%= pluralize(record.errors.count, "error") %> prohibited this record from being saved:</h4>

      <ul>
        <% record.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  <% end %>

  <% record.class.editable_attributes.each do |attr| %>
    <div class="row mb-3">
      <label class="col-sm-2 col-form-label text-end fw-bold"><%= model_attr_label(record, attr) %></label>
      <div class="col-sm-10">
        <%= crud_edit_attr f, attr %>
        <% note = input_note_for(record, attr) %>
        <% if note || record.respond_to?(attr.to_s + "_input_notes") %>
          <div class="form-text"><%= note || record.send(attr.to_s + "_input_notes") %></div>
        <% end %>
      </div>
    </div>
  <% end %>
          
  <div class="row mb-3">
    <div class="col-sm-10 offset-sm-2">
      <% if record.new_record? %>
        <%= f.submit 'Create', class: 'btn btn-primary' %>
      <% else %>
        <%= f.submit 'Save', class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
<% end %>