
.navbar.navbar-default
  .container-fluid
    
    %ul.nav.navbar-nav
      - if request.path != index_path(record)
        %li
          = link_to 'javascript: window.history.back()' do
            %span.glyphicon.glyphicon-chevron-left
            Back
      %li{class: active_class(index_path(record))}
        = link_to index_path(record) do
          %span.glyphicon.glyphicon-list-alt
          View All

      - if action_ok?(local_assigns[:actions], :create)
        %li{class: active_class(new_path(record))}
          = link_to new_path(record) do
            %span.glyphicon.glyphicon-plus
            New

      - if record && action_ok?(local_assigns[:actions], :show) && request.path != index_path(record) && request.path != new_path(record) #request.path == edit_path(record) || request.path == view_path(record) 
        %li{class: active_class(view_path(record))}
          = link_to view_path(record) do
            %span.glyphicon.glyphicon-eye-open
            View
            
      - if record && action_ok?(local_assigns[:actions], :edit)
        - if request.path != index_path(record) && request.path != new_path(record) # request.path == view_path(record) || request.path == edit_path(record)
          %li{class: active_class(edit_path(record))}
            = link_to edit_path(record) do
              %span.glyphicon.glyphicon-pencil
              Edit
      - if record && action_ok?(local_assigns[:actions], :delete)
        - if request.path != index_path(record) && request.path != new_path(record) # request.path == view_path(record) || request.path == edit_path(record)
          %li
            = link_to record, data: { confirm: "Are you sure you want to delete #{record}?" }, method: :delete do
              %span.glyphicon.glyphicon-trash
              Delete
      - begin
        = render partial: "#{controller.to_s.underscore.gsub(' ', '_')}/nav_links_extra", locals: {record: record}
      - rescue  ActionView::MissingTemplate => e
        
    - begin
      -#= render partial: "#{record.model_name.plural}/nav_extra", locals: {record: record}
      = render partial: "#{controller.to_s.underscore.gsub(' ', '_')}/nav_extra", locals: {record: record}
    - rescue  ActionView::MissingTemplate => e

    - if can_search?(record)
      = render partial: 'crudable/search'
      -# %form.navbar-form.navbar-right
      -#   .form-group
      -#     %input( type="text" class="form-control" placeholder="Search")
      -#     %button(type="submit" class="btn btn-default") Search
      

