<script type="text/javascript">
  function queryStringToObj(qs){
    qs = qs.replace(/^\?/, '');
    if (qs.length == 0){return {};}
    return JSON.parse('{"' + decodeURI(qs).replace(/"/g, '\\"').replace(/&/g, '","').replace(/=/g,'":"') + '"}');
  }

  function mergeQueryStrings(qs1, qs2){
    var obj1 = queryStringToObj(qs1);
    var obj2 = queryStringToObj(qs2);
    var combo = $.extend(obj1, obj2);
    var parts = [];

    for(var k in combo){
      if (combo[k]){
        parts.push(k +"=" + encodeURI(combo[k]));
      }
    }
    return parts.join('&');
  }
  
  function updateQueryParamsFromDropdown(dropdown){
    var query = location.search
    var queryChange = dropdown.options[dropdown.selectedIndex].value;
    var newQuery = '?' + mergeQueryStrings(query, queryChange);
    var newUrl = window.location.pathname + newQuery;
    window.location = newUrl;
  }
</script>

<div class="navbar-form navbar-right">
  <% local_assigns.each do |name, opts| %>
    <div class="input-group">
      <label><%= name.to_s.titleize %>:</label>
      <select onchange="updateQueryParamsFromDropdown(this)">
        <% opts.each do |vv| %>
          <!-- Allow passing ["Label", "value"] or just "value" -->
          <% if vv.is_a?(Array) %>
            <% qs = "?#{name}=#{vv[1]}" %>
            <option value="<%= qs %>" <%= 'selected' if params[name.to_sym] == vv[1].to_s %>><%= vv[0] %></option>
          <% else %>
            <% qs = "?#{name}=#{vv}" %>
            <option value="<%= qs %>" <%= 'selected' if params[name.to_sym] == vv.to_s %>><%= vv.to_s.titleize %></option>
          <% end %>
        <% end %>
      </select>
    </div>
  <% end %>
</div>