
= render 'crudable/nav', record: @record, actions: controller.crud_actions
= render 'crudable/header', record: @records

- begin
  = render partial: "#{controller.model_class.model_name.plural}/edit_extra"
- rescue  ActionView::MissingTemplate => e

= render 'crudable/form', record: @record
