
= render 'crudable/nav', record: @records, actions: controller.crud_actions
= render 'crudable/header', record: @records

- begin
  = render partial: "#{controller.to_s.underscore.sub('_controller', '').gsub(' ', '_')}/index_extra"
- rescue  ActionView::MissingTemplate => e

- if @records.empty?
  .alert.alert-warning
    No records to show.            
- else
  = render 'crudable/listing', records: @records, actions: controller.crud_actions, attributes: @attributes
  
  -# Pagination controls
  - if @total_count > @limit
    .row.mt-4
      .col-md-6
        %p.text-muted
          Showing #{@offset + 1} - #{[@offset + @limit, @total_count].min} of #{@total_count} records
      .col-md-6
        %nav
          %ul.pagination.justify-content-end
            - if @has_previous
              %li.page-item
                = link_to "Previous", url_for(request.query_parameters.merge(offset: @previous_offset)), class: "page-link"
            - else
              %li.page-item.disabled
                %span.page-link Previous
                
            - if @total_pages <= 10
              - (1..@total_pages).each do |page|
                - page_offset = (page - 1) * @limit
                - if page == @current_page
                  %li.page-item.active
                    %span.page-link= page
                - else
                  %li.page-item
                    = link_to page, url_for(request.query_parameters.merge(offset: page_offset)), class: "page-link"
            - else
              -# Show abbreviated pagination for many pages
              - if @current_page > 3
                %li.page-item
                  = link_to "1", url_for(request.query_parameters.merge(offset: 0)), class: "page-link"
                - if @current_page > 4
                  %li.page-item.disabled
                    %span.page-link ...
              
              - ([@current_page - 2, 1].max..[@current_page + 2, @total_pages].min).each do |page|
                - page_offset = (page - 1) * @limit
                - if page == @current_page
                  %li.page-item.active
                    %span.page-link= page
                - else
                  %li.page-item
                    = link_to page, url_for(request.query_parameters.merge(offset: page_offset)), class: "page-link"
              
              - if @current_page < @total_pages - 2
                - if @current_page < @total_pages - 3
                  %li.page-item.disabled
                    %span.page-link ...
                - last_offset = (@total_pages - 1) * @limit
                %li.page-item
                  = link_to @total_pages, url_for(request.query_parameters.merge(offset: last_offset)), class: "page-link"
                  
            - if @has_next
              %li.page-item
                = link_to "Next", url_for(request.query_parameters.merge(offset: @next_offset)), class: "page-link"
            - else
              %li.page-item.disabled
                %span.page-link Next

