
- if @record.nil?
  %h2 Not Found
  %p No information to show.
- else
  = render 'crudable/nav', record: @record, actions: controller.crud_actions
  = render 'crudable/header', record: @records

  - begin
    = render partial: "#{controller.model_class.model_name.plural}/show_extra" 
  - rescue  ActionView::MissingTemplate => e


  = render 'crudable/show', record: @record

